{% extends "layouts/base.html" %}
{% block body %}
<!-- 404 -->
<section class="d-flex align-items-center justify-content-center min-vh-100 pt-5 pb-5 pb-lg-0 pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Title -->
                <div class="section-title text-center">
                    <h2>Відеоспостереження</h2>
                </div>
                <!-- End Section Title -->
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <iframe width="640" height="480" src="https://rtsp.me/embed/Y2D688B2/" frameborder="0"
                        allowfullscreen=""></iframe>
            </div>
            <div class="col-lg-6">
                <iframe width="640" height="480" src="https://rtsp.me/embed/Y2D688B2/" frameborder="0"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}