{% extends "layouts/base.html" %}
{% block body %}

<section class="d-flex align-items-center justify-content-center min-vh-100 pt-5 pb-5 pb-lg-0 pt-lg-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Title -->
                <div class="section-title text-center">
                    <h2>Тарифи</h2>
                </div>
<div class="bars-neotarif-block">
    <div class="neotarif-plan homemini">
        <p class="first-str">Тарифный план</p>
        <p class="second-str">HOME mini</p>
    </div>
    <div class="neotarif-border"></div>
    <div class="neotarif-speed">
        <div class="neospeed">50</div>
        <div class="neotxt">
            <p class="first-str">Скорость до</p>
            <p class="second-str">Мбит/с</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="neotarif-cost">
        <a href="/podklyuchenie/" class="neobutton price799"></a>
    </div>
    <div class="clear"></div>
</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}